<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <!-- 해당 설정파일에서 사용하는 프로퍼티 -->
    <Properties>
        <Property name="logNm">Board-Server-log4j2</Property>
        <Property name="layoutPattern">%style{%d{yyyy-MM-dd HH:mm:ss}}{cyan} %highlight{[%-5p]}-{FATAL=bg_red, ERROR=red, INFO=green, DEBUG=blue} [%C] %style{[%t]}{yellow}- %m%n</Property>
    </Properties>

    <!-- LogEvent를 전달해주는 Appender -->
    <Appenders>
        <Console name="Console_Appender" target="SYSTEM_OUT">
            <PatternLayout pattern="${layoutPattern}" />
        </Console>
        <RollingFile name="File_Appender"
                     fileName="logs/${logNm}.log"
                     filePattern="logs/${logNm}.%d{yyyy-MM-dd-hh}_%i.log.gz">
            <PatternLayout pattern="${layoutPattern}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="200KB"/>
                <TimeBasedTriggeringPolicy interval="1" /><!-- 시간별 로그 파일 생성-->
            </Policies>
            <DefaultRolloverStrategy max="10" fileIndex="min" ></DefaultRolloverStrategy> <!-- 롤링 파일 10개 까지 생성 -->

        </RollingFile>
    </Appenders>

    <!-- 실제 Logger -->
    <!--TRACE > DEBUG > INFO > WARN > ERROR > FATAL -->
    <Loggers>
        <Root level="INFO" additivity="false">
            <AppenderRef ref ="Console_Appender"/>
            <AppenderRef ref ="File_Appender"/>
        </Root>

        <Logger name="org.springframework" level="DEBUG" additivity="false" >
            <AppenderRef ref="Console_Appender" />
            <AppenderRef ref="File_Appender" />
        </Logger>

        <Logger name="com.project.boardserver" level="TRACE" additivity="false" >
            <AppenderRef ref="Console_Appender" />
            <AppenderRef ref="File_Appender" />
        </Logger>
    </Loggers>
</Configuration>